@using (Html.BeginForm("Upload", "Customer", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="modal fade" id="EntityModal" tabindex="-1" data-keyboard="false" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Upload Logo</h3>
                </div>
                <div class="modal-body">
                    <input type="file" id="file" name="file"onchange="CheckExtension(this,'#btnUpload')">
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="submit" id="btnUpload" disabled="disabled">Upload</button>
                    <button class="btn btn-default" type="button">Cancel</button>
                </div>
            </div>
        </div>
    </div>
}